body,
html {
  height: 100%;
  margin: 0;
}

body {
  color: #f0f0f5;
  letter-spacing: 1px;
}

.container {
  background-image: url('./assets/background.jpeg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coming-soon-text {
  margin: 16px 0;
  text-transform: uppercase;
}

.divider {
  width: 60%;
}
